* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
			padding: 0;
			margin: 0;
}

#map {
    height: 100%;
}

#button_table a {
    line-height: 50px;
    display: block;
    text-decoration: none;
    color: white;
/*    height: 100%;*/
    width:100%;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
}

#button_table {
    margin: 0;
    border: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom 0;
    width: 100%;
    text-align: center;
/*    background: rgba( 255,0,0,.5);*/
}

#update a{
    background: rgba( 255,0,0,.5)
}

#update a:hover {
    background: rgba( 255,0,0,.75)
}

#feedback {
    width: 90px;
}

#feedback a {
    font-size: 15px;
    background: rgba(74, 74, 74, 0.72);    
}

#feedback a:hover {
    background: rgba(0, 0, 0, 0.7);
}


#popup {
    display: none;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 400px;
    background: #f3f3f3;
    font-family: sans-serif;
    border-radius: 10px;
    border: solid #888 2px;
}

#grayout {
    display:none;
    position:absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background: rgba(111, 111, 111, 0.65);
}

#submenu {
    height: 0;
    width: 100%;
    background: red;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#submenuCell {
    border: 0;
    padding: 0;
    margin-top: 0;
/*    margin-left: 90px;*/
}

#button_table:hover #submenu {
    height: 60px;
}
